h4 {
    color: black;
    font-size: 25pt;
}

.faq {
    margin-top: 5%;
    margin-right: 15%;
    margin-left: 15%;

    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    vertical-align: middle;
    background-color: rgba(67, 168, 242, 1);
    border: 5px solid black;
    border-radius: 15px;
}
.faqtext {
    font-family: Roboto;
    font-weight: 500;
    font-size: x-large;
    color: #fff;
}