.Help h2 {
    color: black;
    font-size: 30pt;
    width: 30%;
    margin: auto;   
    text-align: center;
    padding-bottom: 3%;
}

.Help h4 {
    font-size: 20pt;
    width: 50%;
    margin: auto;   
    text-align: center;
}

.Help .contact {
    margin-top: 5%;
    margin-right: 15%;
    margin-left: 15%;

    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    vertical-align: middle;
    background-color: rgba(67, 168, 242, 1);
    border: 5px solid black;
    border-radius: 15px;
}

.Help input[name='name'], input[name='message'] {
    width: 100%;
    background-color: #fff;
    font-size: large;
    font-family: Roboto;

}

.Help input[type=submit] {
    width: 20%;
    margin-bottom: 5%;
    margin-left: 40%;
    margin-right: 40%;
    cursor: pointer;
    background: #fff;
    font-family: Roboto;
    font-weight: 700;
    font-size: x-large;
    color: #000;
}

.Help textarea {
    width: 100%;
    resize: none;

    background-color: #fff;
    font-size: large;
    font-family: Roboto;
}

.Help  .submitbutton {
    text-align: center;
    vertical-align: middle;
}

.Help  .contactForm {
    padding: 10px;
    font-size: 20px;
    width: 40%;
    margin: auto;
    font-family: Roboto;
    font-weight: 700;
    font-size: x-large;
    color: #000;
}

.Help #red {
    color: red;
}