body {
    font-family: Roboto;
}

.results {
    background-color: rgba(67, 168, 242, 1);
    width: 80%;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    row-gap: 2rem;
    flex-grow: 100;

    background-color: rgba(67, 168, 242, 1);
    border: solid;
    border-width: 5px;
    border-radius: 15px;
}

.result {
    padding: 2rem;
    background-color: white;
    border-style: hidden;
    border-radius: 10%;

    border-width: 5px;
    border-radius: 15px;
}
    .result .title a:link {
        text-decoration: none;
    }
        
        .result .title a:link {
            color: black;
        }

        .result .title a:hover {
            text-decoration: underline;
        }


    .result .author {
        color: black;
        font-style: italic;
    }

    .result img {
        width: 5rem;
    }

.search-container {
    margin: 2rem;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}

.filter-container {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    background-color: #C4C4C4;
    height: max-content;
    padding: 1rem;
    position: sticky;
    top: 3rem;
}

.filter-container .option-container {
    font-weight: 400;
}