body {
    font-family: Roboto;
}

.results {
    background-color: rgb(67, 168, 242);
    width: 80%;
    margin: 2rem auto;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    row-gap: 2rem;
}

.result {
    padding: 2rem;
    background-color: white;
    border-style: hidden;
    border-radius: 10%;
}
    .result .title a:link {
        text-decoration: none;
    }
        
        .result .title a:link {
            color: black;
        }

        .result .title a:hover {
            text-decoration: underline;
        }


    .result .author {
        color: black;
        font-style: italic;
    }

    .result img {
        width: 5rem;
    }