body {
    font-family: Roboto;
}

.signup-form {
    background-color: #43A8f2;
    width: 100%;
    padding: 3rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    row-gap: 0.25rem;
    align-items: left;
}

.signup-form .submit {
    padding: 0.5rem 3rem;
    text-align: center;
    vertical-align: middle;
    background: #fff;
    border-radius: 0.25rem;
    text-decoration: none;
    
    /* figma generated */
    font-family: Roboto;
    font-weight: 700;
    font-size: x-large;
    color: #000;
  }

  .signup-form input {
      height: 2rem;
      background-color: #ffffff;
      font-size: large;
  }
  .radio-button-container {
      align-items: left;
  }
  
  .radio-button-container input {
      width: 10%;
  }
  .error {
      color: red;
  }

  .signup-form h1 {
      color: #000;
      text-align: center;
  }

  .signup-form img {
      width: 15rem;
      object-position: center;
      object-fit: cover;
      align-self: center;
  }


  .signup-form .inputName {
    display: inline-flex;
  }

  .signup-form p {
      margin-bottom: 10px;
      margin-top: 10px;
      font-weight: 700;
      font-size: x-large;
      padding-bottom: 0%;
  }

  .signup-form p:last-child {
    color: red;
}
 
 