body {
    font-family: Roboto;
}

.signup-container {
    background-color: #43A8f2;
    padding: 3rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    row-gap: 0.35rem;
    flex-grow: 100;
}

.signup-form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    row-gap: 0.25rem;
    align-items: left;
}

.signup-form .submit {
    padding: 0.5rem 3rem;
    text-align: center;
    vertical-align: middle;
    background: #fff;
    border-radius: 0.25rem;
    text-decoration: none;
    
    /* figma generated */
    font-family: Roboto;
    font-weight: 700;
    font-size: x-large;
    color: #000;
  }

  .signup-form input {
      height: 2rem;
      background-color: #ffffff;
      font-size: large;
  }
  .radio-button-container {
      align-items: left;
  }
  .radio-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 0.5rem;
  }
  
  .radio-button-container input {
      width: 10%;
  }
  .error {
      color: red;
  }

  .signup-container h1 {
      color: #000;
      text-align: center;
  }

  .signup-container img {
      height: 8rem;
      transform: translateY(0.5rem);
      scale: 1.4;
      object-position: center;
      object-fit: contain;
      align-self: center;
  }

  .signup-form .inputName {
    display: inline-flex;
  }

  .signup-form p {
      margin-bottom: 10px;
      margin-top: 10px;
      font-weight: 700;
      font-size: x-large;
      padding-bottom: 0%;
  }

  .signup-form p:last-child {
    color: red;
}
 
 